* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

.main-header {
  background: linear-gradient(0deg, #ffad4d, #d72785, #4c5be1)
}

.main-header .container {
  display: flex;
  align-items: center;
  padding: 20px;
  /* max-width: 1200px; */
  /* margin: auto; */
  justify-content: space-around;
}

.main-header .logo {
  width: 100px;
}

.main-header .logo img {
  width: 100%;
  vertical-align: middle;
}

.main-header .main-nav {
  /* margin: auto; */
  display: flex;
}

.main-header .main-nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  transform: translateY(0);
  transition: .3s;
}

.main-header .main-nav a:hover {
  transform: translateY(-10px);
}

.main-header .main-nav a:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -3px;
  height: 0;
  border-bottom: solid 1px #fff;
  transition: .3s;
}

.main-header .main-nav a:hover:after {
  left: 0;
  right: 0;
}

.main-header .header-search {
  display: flex;
}

.main-header .header-search input,
.main-header .header-search button {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
}

.main-header .header-search input:focus,
.main-header .header-search button:focus {
  outline: none;
}

.main-header .header-search input {
  border-radius: 200px 0 0 200px;
}

.main-header .header-search button {
  border-radius: 0 200px 200px 0;
  cursor: pointer;
}