* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Literata', serif;
}

html,
body {
  height: 100%;
}

/* first */
.container-first {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 100px 0;
}

.container-first h1 {
  width: 400px;
  text-align: right;
  box-sizing: border-box;
  padding: 20px 15px 0;
  background-color: #d5c7b9;
}

.container-first h1::after {
  content: '';
  display: block;
  width: 4em;
  height: 4px;
  background-color: #000;
  margin-left: auto;
}

.container-first .txt-first {
  width: 800px;
  box-sizing: border-box;
  padding: 0 15px;
  column-count: 2;
  column-gap: 30px;
}

.container-first {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 100px 0;
}

.container-first h1 {
  width: 400px;
  text-align: right;
  box-sizing: border-box;
  padding: 20px 15px 0;
  background-color: #d5c7b9;
}

.container-first h1::after {
  content: '';
  display: block;
  width: 4em;
  height: 4px;
  background-color: #000;
  margin-left: auto;
}

.container-first .txt-first {
  width: 800px;
  box-sizing: border-box;
  padding: 0 15px;
  column-count: 2;
  column-gap: 30px;
}

/* second */
.container-second {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
}

.container-second h1 {
  width: 300px;
  text-align: right;
  box-sizing: border-box;
  padding: 15px;
  border-right: solid 3px #000;
  float: left;
  margin-right: .8em;
  font-size: 42px;
}

.container-second .txt-second {
  box-sizing: border-box;
  padding: 0 15px;
}

/* third */
.container-third {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
}

.container-third h1 {
  box-sizing: border-box;
  padding: 0 15px 0;
  margin-bottom: 30px;
  font-size: 90px;
  color: #aaa;
  position: relative;
}

.container-third h1::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: #eee;
  z-index: -1;
}

.container-third .txt-third {
  box-sizing: border-box;
  padding: 0 15px;
  column-count: 2;
  column-gap: 30px;
}

.container-third .txt-third p::first-letter {
  font-size: 40px;
  float: left;
  padding-right: 10px;
}