* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #000;
}

.main-footer {
  padding: 150px 0 0 0;
  background: linear-gradient(-20deg, #3f5494, #08c7a5);
}

.main-footer .container {
  display: flex;
  width: 90%;
  margin: auto;
}

.footer-item {
  width: 0;
  flex-grow: 1;
}

.footer-item h4 {
  font-size: 24px;
  color: #fff;
  border-bottom: solid 1px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.footer-item nav {
  display: flex;
  flex-direction: column;
}

.footer-item nav a {
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px 0;
}

.footer-item nav a:hover {
  color: #fa0;
}

.footer-item nav a i {
  padding-right: 3px;
}

.footer-subs {
  display: flex;
  flex-direction: column;
}

.footer-subs form {
  display: flex;
  width: 100%;
}

.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
  border: none;
  padding: 5px 10px;
}

.footer-subs input[type="text"]:focus,
.footer-subs input[type="submit"]:focus {
  outline: none;
}

.footer-subs input[type="text"] {
  width: 0;
  flex-grow: 1;
}

.footer-subs input[type="submit"] {
  color: #70f6df;
  background-color: #3e5293;
  cursor: pointer;
}

.footer-subs input[type="submit"]:hover {
  color: #fff;
}

.copyright {
  width: 100%;
  text-align: center;
  margin: 150px 0 0 0;
  padding: 10px 0;
  background-color: #3e5293;
  color: #70f6df;
}