* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #546377;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(9deg, #185a9d, #43cea2);
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  box-shadow: 0 0 0 1.5px #fff;
}

.list li .fa {
  font-size: 30px;
  margin-bottom: 6px;
}

.list li+li {
  margin-left: 100px;
}

.list li+li::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #43cea2;
  top: 0;
  bottom: 0;
  left: -100px;
  margin: auto;
  z-index: -1;
  box-shadow: 0 0 0 0.5px #fff;
}

.list li.active~li {
  background-image: linear-gradient(9deg, #999, #ccc);
}

.list li.active~li::before {
  background-color: #999;
}